:root {
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: #f4f7f9;
    color: #333;
    line-height: 1.4;
}

/* Header / Navbar */
header {
    background-color: #9fb6c8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    gap: 25px;
    font-weight: 600;
    color: #f3f4f6;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: color 0.25s, font-weight 0.25s;
}

h1 {
    color: darkblue
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /*1*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}