:root {
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: #f4f7f9;
    color: #333;
    line-height: 1.4;
}

/* Header / Navbar */
header {
    background-color: #9fb6c8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #d9e2ec;
    /* light gray */
    border: 2px solid #b0bec5;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #627d98;
    font-size: 20px;
    letter-spacing: 2px;
    flex-shrink: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    gap: 25px;
    font-weight: 600;
    color: #f3f4f6;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: color 0.25s, font-weight 0.25s;
}

h1 {
    color: darkblue
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    flex-direction: column;
    gap: 6px;
}

footer .social-icons {
    justify-content: center;
    flex: none;
    padding: 0;
}

footer .copyright {
    flex: none;
    padding: 0;
}