* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
    color: rgb(43, 40, 40);
}

h2 {
    border-bottom: 1px solid#333;
}

img {
    height: auto;
    width: 100%;
    box-shadow: 20px 20px 30px #333;
}

section {
    background-color: antiquewhite;
    margin: 20px 0;
    border: 5px solid rgb(0 0 0 / 50%);
    padding: 10px;
    font-size: .9rem;
}

ul {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}